@model VentaDeMiel2022.Web.Models.Pais.PaisEditVm

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal" >
        <h4>Desea borrar el Pais </h4>
      

        <dd>
            <h5>
                @Html.DisplayFor(model => model.NombrePais)

            </h5>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
